extends ../../s-about 

block head 
    title Me at QUIRKY.technology

block content 
    header.contenthdr.contenthdr--me 
        h2 Me
        
    section.content.content--me.content--bodytext !{md.render(cover.fields.body)}
    
    