doctype html
html 
    head
    
        block head
            title QUIRKY.technology
        
        meta(name='viewport',content='width=device-width,initial-scale=1')
        
        link(rel='stylesheet',type='text/css',href='https://fonts.googleapis.com/css?family=Nova+Flat|Titillium+Web')
        link(rel='stylesheet',type='text/css',href='//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css')
        link(rel='stylesheet',type='text/css',href='/style.css')
        
    
    body 
        block body 
        