extends ../../../../s-scribble 

block content 
    header.contenthdr.contenthdr--scribble
        h2 Posts tagged #{tag} 
    
    section.content.content--scribble
        each post in posts
            section(resource='/scribble/' + post.fields.slug)
                header 
                    h3
                        i.mdi.mdi-file-document-box 
                        a(href='/scribble/' + post.fields.slug) #{post.fields.title}
                
    